@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 950px) {
  .menu_social {
    display: none;
  }

  .menu_links {
    display: none;
  }

  .nav_burg_menu_handle {
    display: flex;
  }
}

@media screen and (max-width: 750px) {


  .product_intro_section {
    grid-template: 1fr 3fr repeat(2, 1.5fr) / repeat(2, 1fr);
    gap: 10px;
  }

  .product_intro_image_1 {
    grid-area: 2 / 1 / 3 / 3;
  }

  .product_intro_image_2 {
    grid-area: 3 / 1 / 4 / 3;
  }

  .product_intro_image_3 {
    grid-area: 4 / 1 / 5 / 3;
  }
}
