@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 950px) {
  .menu_social {
    display: none;
  }

  .menu_links {
    display: none;
  }

  .nav_burg_menu_handle {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  .product_intro_section {
    grid-template: 1fr 3fr repeat(2, 1fr) / repeat(2, 1fr);
  }
}
