/** @format */

:root {
  --colour-white: #ffffff;
  --colour-light-grey: #f1f1f1;
  --colour-light-red: #ef233c;
  --colour-dark-red: #d80032;
  --colour-black: #0f1016;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: 1px solid;
}

html {
  scroll-behavior: smooth;

  font-family: '', Sans-serif;
  font-size: 10px;
}

body {
  display: grid;
  grid-template: repeat(5, 100vh) 500px / 1fr 2fr 2fr 1fr;

  width: 100vw;

  font-size: 1.6rem;
}

/* =====^^^^^^^^^^===== BASE-CSS END =====^^^^^^^^^^===== */
/* =====vvvvvvvvvv===== HEADER =====vvvvvvvvvv=====*/

header {
  grid-area: 1 / 2 / 1 / 4;
}

/* =====vvvvvvvvvv===== MAIN =====vvvvvvvvvv=====*/

main {
  grid-area: 2 / 2 / 6 / 4;
  display: grid;
  grid-template: repeat(4, 1fr);
}

/* =====vvvvvvvvvv===== FOOTER =====vvvvvvvvvv=====*/

footer {
  grid-area: 6 / 2 / 7 / 4;
}

/* =====vvvvvvvvvv===== RESPONSIVE =====vvvvvvvvvv=====*/

@media screen and (max-width: px) {
}
