/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

:root {
  --colour-white: #ffffff;
  --colour-light-grey: #f1f1f1;
  --colour-light-red: #ef233c;
  --colour-dark-red: #d80032;
  --colour-black: #0b0b0b;
  --colour-grey: #484848;
  --colour-dark-grey: #121212;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-margin: 150px;
}

html {
  font-family: 'Poppins', Sans-serif;
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template: 100vh 440vh 55vh / 1fr repeat(2, 1.8fr) 1fr;

  font-size: 1.6rem;
}

/* =====^^^^^^^^^^===== BASE-CSS END =====^^^^^^^^^^===== */
/* =====vvvvvvvvvv===== HEADER =====vvvvvvvvvv=====*/

header {
  grid-area: 1 / 1 / 2 / 5;

  z-index: 1;
}

/* ----- Navigation Bar : Matias ----- */
nav {
  position: fixed;
  z-index: 1;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px 10vw;
  background-color: var(--colour-black);
}

.menu_links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.menu_links a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--colour-white);
}

.menu_social {
  width: 100px;
}

.menu_social img {
  cursor: pointer;
}

.triangle-top {
  display: inline-block;

  position: fixed;
  top: 100px;

  width: 0;
  height: 0;
  border-color: var(--colour-dark-red) transparent transparent transparent;
  border-style: solid;
  border-width: 2vh 100vw 0 0;

  /* Add a transition to animate the element's position change */
  transition: all 0.7s ease-in-out;
}

.nav_burg_menu_handle {
  display: none;

  position: absolute;
  right: 50px;

  transition: 170ms;
}

.burg_menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.846);

  font-size: 3em;
  color: var(--colour-white);

  cursor: pointer;
}

.burg_menu_content {
  position: absolute;
  right: -150px;
  top: 101px;

  width: 150px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.846);

  text-align: center;

  transition: 170ms;

  line-height: 35px;
}

.burg_menu_content a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--colour-white);
  cursor: pointer;
}

.burg_menu_content a:hover {
  color: var(--colour-grey);
}

.burg_some_icon {
  margin-top: 20px;
}

.burg_content_slide {
  right: 0;
}

/* ----- Landing Page : Matias ----- */
.landing_page {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: center / cover no-repeat url('../media/slicebg.jpg');
}

.landing_text_container {
  display: grid;
  grid-template: minmax(550px, 500px) / 100%;

  margin: 100px 10vw 0;
}

.landing_left_box {
  max-width: 600px;
}

.landing_text_container .landing_left_box h1 {
  margin-bottom: 40px;

  font-size: clamp(2.5em, 8vw, 8rem);

  color: var(--colour-white);
}

.landing_left_box span {
  line-height: 3rem;

  color: var(--colour-white);
}

.landing_button {
  margin-top: 70px;
}

.landing_button a {
  padding: 12px 25px;
  background-color: var(--colour-dark-red);

  text-decoration: none;
  color: var(--colour-white);

  transition: 300ms ease;
}

.landing_button a:hover {
  background-color: var(--colour-light-red);
}
/* =====vvvvvvvvvv===== MAIN =====vvvvvvvvvv=====*/

main {
  display: grid;
  grid-area: 2 / 1 / 3 / 5;
  grid-template: 20vh 80vh 20vh 80vh 20vh 80vh 20vh 30vh 20vh 50vh 20vh / 1fr 35px repeat(2, 1.5fr) 35px 1fr;
}

/* ----- Product Intro Section : Mads ----- */
.product_intro_section {
  grid-area: 2 / 3 / 3 / 5;
  display: grid;
  grid-template: 0.75fr repeat(2, 1fr) / repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.intro_text_section {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.intro_text_section h2 {
  font-size: clamp(1em, 4vw, 3em);
}

.intro_text_section p {
  font-size: clamp(1rem, 1.9vw, 1em);
}

.product_intro_image_1 {
  grid-area: 2 / 1 / 4 / 2;
  background: center / cover no-repeat url('../media/slice-img-1.jpg');
}

.product_intro_image_2 {
  background: center / cover no-repeat url('../media/slice-img-2.jpg');
}

.product_intro_image_3 {
  background: center / cover no-repeat url('../media/slice-img-3.jpg');
}

/* ----- Product Overview Section : Chris ----- */
.product_overview_section {
  grid-area: 4 / 3 / 5 / 5;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  border: none;
  gap: 3%;
}

.knife_overview_image {
  grid-area: 1 / 1 / 4 / 2;
  border: none;
  background: center / cover no-repeat url('../media/slice_fall_knife.jpg');
}

.overview_h2 {
  color: var(--colour-light-red);
  font-size: clamp(1em, 4vw, 3.2em);
}

.overview_text_section p {
  line-height: 1.4em;

  font-size: clamp(0.6rem, 1.8vw, 0.9em);
  font-weight: 400;
}

/* ----- Product Slideshow Section : Chris ----- */
.product_slideshow_section {
  grid-area: 6 / 2 / 7 / 6;

  display: grid;
  grid-template: 1fr 35px / 35px 16fr 35px;
}

.slides_container {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

.slideshow_image {
  display: none;

  height: 100%;
}

.slide_1 {
  background: center / cover no-repeat url('../media/slice-slide-1.jpg');
}

.slide_2 {
  background: center / cover no-repeat url('../media/slice-slide-2.jpg');
}

.slide_3 {
  background: center / cover no-repeat url('../media/slice-slide-3.jpg');
}

.slideshow_prev,
.slideshow_next {
  display: flex;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--colour-black);

  cursor: pointer;
  user-select: none;
}

.slideshow_next {
  justify-self: flex-end;
}

.slideshow_dot_container {
  grid-area: 2 / 1 / 3 / 4;

  text-align: center;
}

.slideshow_dot {
  display: inline-block;

  width: 12px;
  height: 12px;
  margin: 0 5px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #bbb;

  cursor: pointer;
}

.active,
.slideshow_dot:hover {
  background-color: rgb(110, 110, 110);
}

/* ----- Information banner : Mads ----- */
.info_banner_section {
  grid-area: 8 / 1 / 9 / 10;

  background-color: var(--colour-black);
}
.info_banner_section_inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-height: 100%;
  margin: 0 auto;

  text-align: center;
}
.info_banner_section * {
  border: none;
}
.info_banner_section_inner p {
  color: white;
}
.info_banner_section_inner img {
  max-height: 64px;
}

.info_banner_section_inner b {
  letter-spacing: 1px;
  font-weight: 600;
}

/* ----- Contact & Signup Section : Mads ----- */
.product_contact_signup_section {
  grid-area: 10 / 3 / 11 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product_contact_signup_section div {
  width: 100%;
}

.product_contact_signup_section h3 {
  margin-bottom: 1rem;
}
.product_contact_signup_section p {
  margin-bottom: 8rem;
  text-align: justify;
}
.product_contact_signup_section > h1 {
  margin-bottom: 2rem;
}
input[type='email'] {
  outline: none;
  width: 100%;
  padding: 25px 1rem;
  border: 2px solid #000;

  font-family: 'Poppins';
  font-size: 18px;
}
input[type='email']:invalid {
  border-color: var(--colour-dark-red);
}
input[type='email']:valid {
  border-color: black;
}
input[type='email']:active {
  border-radius: none;
}
button {
  margin-left: -2px;
  padding: 0 15px;
  border: none;
  background-color: var(--colour-black);

  font-size: 5rem;
  color: var(--colour-white);

  transition: 300ms ease;

  cursor: pointer;
}
button:hover {
  background-color: var(--colour-dark-red);
}
.checkbox-control {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 2rem;
}

.privacy_underline {
  text-decoration: underline;
}

.privacy_underline:hover {
  cursor: pointer;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
.checkbox-control + .checkbox-control {
  margin-top: 1em;
}

input[type='checkbox']::before {
  content: '';

  width: 0.65em;
  height: 0.65em;
  background-color: CanvasText;

  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;

  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
.newsletter {
  display: grid;
  grid-template-columns: 1fr 79px;
}

/* =====vvvvvvvvvv===== FOOTER =====vvvvvvvvvv=====*/

/* ----- Footer : Chris ----- */
footer {
  display: flex;
  flex-wrap: wrap;
  grid-area: 3 / 1 / 4 / 5;

  background-color: var(--colour-black);
}

.footer_links {
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(8, 1fr);

  width: 60%;
  max-height: 93%;
}

.footer_logo_container {
  display: flex;
  grid-area: 3 / 1 / 4 / 4;
  align-items: center;
  justify-content: center;
}

.footer_logo {
  position: absolute;

  margin-top: 35px;

  transform: scale(1.6);
}

.footer_links_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flw_1 {
  grid-area: 3 / 4 / 6 / 6;
}

.flw_2 {
  grid-area: 3 / 6 / 6 / 9;
}

.footer_links_wrapper a {
  text-decoration: none;
  color: var(--colour-white);
}

.footer_links_wrapper a:hover {
  text-decoration: underline;
  color: var(--colour-grey);

  cursor: pointer;
}

.footer_some_links {
  display: flex;
  grid-area: 5 / 1 / 6 / 4;
  align-items: center;
  justify-content: center;
}

.footer_some_links img {
  margin: 0 5%;
  cursor: pointer;
}

.footer_map {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 93%;
}

.footer_map iframe {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.copyright_mark {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 7%;
  background-color: var(--colour-dark-grey);

  font-size: 1.2rem;
  color: var(--colour-grey);
}
