/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

:root {
  --colour-white: #ffffff;
  --colour-light-grey: #f1f1f1;
  --colour-light-red: #ef233c;
  --colour-dark-red: #d80032;
  --colour-black: #0b0b0b;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-margin: 150px;
}

html {
  font-family: 'Poppins', Sans-serif;
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template: repeat(5, 100vh) 500px / 1fr 2fr 2fr 1fr;

  font-size: 1.6rem;
}

/* =====^^^^^^^^^^===== BASE-CSS END =====^^^^^^^^^^===== */
/* =====vvvvvvvvvv===== HEADER =====vvvvvvvvvv=====*/

header {
  grid-area: 1 / 1 / 2 / 5;

  z-index: 1;
}

/* ----- Navigation Bar : Matias ----- */
nav {
  position: fixed;
  z-index: 1;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px 10vw;
  background-color: var(--colour-black);
}

.menu_links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.menu_links a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--colour-white);
}

.menu_social {
  width: 100px;
}

.triangle-top {
  display: inline-block;

  position: fixed;
  top: 100px;

  width: 0;
  height: 0;
  border-color: var(--colour-dark-red) transparent transparent transparent;
  border-style: solid;
  border-width: 2vh 100vw 0 0;

  /* Add a transition to animate the element's position change */
  transition: all 0.7s ease-in-out;
}

/* ----- Landing Page : Matias ----- */
.landing_page {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-image: url('../media/slicebg.jpg');
  background-size: cover;
  background-position: center;
}

.landing_text_container {
  display: grid;
  grid-template: minmax(550px, 500px) / 100%;

  margin: 180px 10vw 0;
}

.landing_left_box {
  max-width: 600px;
}

.landing_text_container .landing_left_box h1 {
  margin-bottom: 40px;

  font-size: clamp(2rem, 8rem, 8rem);
  line-height: clamp(4rem, 10rem, 10rem);

  color: var(--colour-white);
}

.landing_left_box span {
  line-height: 3rem;

  color: var(--colour-white);
}

.landing_button {
  margin-top: 70px;
}

.landing_button a {
  padding: 12px 25px;
  background-color: var(--colour-dark-red);

  text-decoration: none;
  color: var(--colour-white);

  transition: 300ms ease;
}

.landing_button a:hover {
  background-color: var(--colour-light-red);
}
/* =====vvvvvvvvvv===== MAIN =====vvvvvvvvvv=====*/

main {
  display: grid;
  grid-area: 2 / 1 / 6 / 5;
  grid-template: 3% 1fr 3% 1fr 3% 1fr 3% 250px 3% 1fr 3% / 1fr repeat(2, 2fr) 1fr;
}

/* ----- Product Intro Section : Mads ----- */
.product_intro_section {
  grid-area: 2 / 2 / 3 / 4;

  margin-top: 50px;
}
.product_intro_section_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'big-img-template small-img-template-1'
    'big-img-template small-img-template-2';

  gap: 1em;
}
.product_intro_section_inner > h2 {
  grid-area: header;
}
.product_intro_section_inner > p {
  grid-area: header;

  margin-bottom: 1em;
}
.product_intro_section_inner > .big-img-template {
  grid-area: big-img-template;
}
.product_intro_section_inner > .small-img-template-1 {
  grid-area: small-img-template-1;
}
.product_intro_section_inner > .small-img-template-2 {
  grid-area: small-img-template-2;
}
.big-img-template {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.small-img-template-1,
.small-img-template-2 {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* ----- Product Overview Section : Chris ----- */
.product_overview_section {
  grid-area: 4 / 2 / 5 / 4;
  display: flex;

  margin: 100px 0;

  border: none;
}

.knife_overview_image_placeholder {
  width: 50%;
  height: 100%;

  background: center / contain no-repeat
    url('../media/knife_overview_placeholder.png');

  border: none;
}

.overview_text_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: right;
  align-items: center;

  width: 50%;
  height: 100%;

  border: none;
}

.overview_text_section h2,
.overview_text_section p,
.overview_text_section div {
  border: none;
}

.overview_text_section h2 {
  margin-top: 9%;
  font-size: 3em;

  color: var(--colour-light-red);
}

.overview_text_section p {
  line-height: 1.4em;
  text-align: justify;
  font-size: 1em;
}

/* ----- Product Slideshow Section : Chris ----- */
.product_slideshow_section {
  grid-area: 6 / 2 / 7 / 4;

  display: grid;
  grid-template: 1fr 35px / 1fr 16fr 1fr;
}

.slides_container {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

.slideshow_image {
  display: none;

  height: 100%;
}

.slide_1 {
  background: center / cover no-repeat
    url('../media/temp_numbers_slideshow/product_1.jpg');
}

.slide_2 {
  background: center / cover no-repeat
    url('../media/temp_numbers_slideshow/product_2.jpg');
}

.slide_3 {
  background: center / cover no-repeat
    url('../media/temp_numbers_slideshow/product_3.jpg');
}

.slideshow_prev,
.slideshow_next {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: black;

  cursor: pointer;
  user-select: none;
}

.slideshow_dot_container {
  grid-area: 2 / 1 / 3 / 4;

  text-align: center;
}

.slideshow_dot {
  display: inline-block;

  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
  margin-top: 10px;

  cursor: pointer;
}

.active,
.slideshow_dot:hover {
  background-color: rgb(110, 110, 110);
}

/* ----- Information banner : Mads ----- */
.info_banner_section {
  grid-area: 8 / 1 / 9 / 5;

  background-color: var(--colour-black);
}
.info_banner_section_inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  min-height: 100%;
  margin: 0 auto;

  text-align: center;
}
.info_banner_section * {
  border: none;
}
.info_banner_section_inner p {
  color: white;
}
.info_banner_section_inner img {
  max-height: 64px;
}

/* ----- Contact & Signup Section : Mads ----- */
.product_contact_signup_section {
  grid-area: 10 / 2 / 11 / 4;
}
.product_contact_signup_section h3 {
  margin-bottom: 1rem;
}
.product_contact_signup_section p {
  margin-bottom: 8rem;
  text-align: justify;
}
.product_contact_signup_section > h1 {
  margin-bottom: 2rem;
}
input {
  outline: none;
  width: 100%;
  padding: 25px 1rem;
  border: 2px solid #000;

  font-family: 'Poppins';
  font-size: 18px;
}
input:invalid {
  border-color: var(--colour-dark-red);
}
input:valid {
  border-color: black;
}
input:active {
  border-radius: none;
}
button {
  margin-left: -2px;
  padding: 0 15px;
  border: none;
  background-color: var(--colour-black);

  font-size: 5rem;
  color: var(--colour-white);

  transition: 300ms ease;

  cursor: pointer;
}
button:hover {
  background-color: var(--colour-dark-red);
}
.newsletter {
  display: flex;
}

/* =====vvvvvvvvvv===== FOOTER =====vvvvvvvvvv=====*/

/* ----- Footer : Matias ----- */
footer {
  grid-area: 6 / 1 / 7 / 5;

  background-color: var(--colour-black);
}

/* =====vvvvvvvvvv===== RESPONSIVE =====vvvvvvvvvv=====*/

@media screen and (max-width: px) {
}
